/* Global parameters */

*, *::before, *::after { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  transition: background-color 0.3s linear;
  /* outline: 1px solid red; */
}

body {

  --bg-color: black;
  --text-color: yellowgreen;
  --header-color: yellowgreen;
  --menu-color: #ffdc18;
  --accent-color: #ffdc18;
  --alt-accent-color: #ffdc18;
  --highlight-color: coral;
  --link-color: #551a8b;
  --link-active-color: coral;
  --border-color: #ffdc1823;
  --alt-border-color: #ffdc1851;
  --header-cell-color: transparent;
  --alt-cell-color: #ffe5531b;

  --font-large: 2rem;
  --font-subhead: 1.65rem;
  --font-mid: 1.4rem;
  --font-base: 1.2rem;

  background-color: var(--bg-color);
  margin: 0 auto;
}

body.light {
  --bg-color: cornsilk;
  --text-color: black;
  --header-color: #551a8b;
  --menu-color: #551a8b;
  --accent-color: #ffdc18;
  --alt-accent-color: black;
  --highlight-color: coral;
  --link-color: #551a8b;
  --link-active-color: coral;
  --border-color: #ffdc18b8;
  --alt-border-color: #ffdc18de;
  --header-cell-color: #551a8b;
  --alt-cell-color: #ffe44b85;
}

body * {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
  color: var(--link-color);
  text-decoration-line: none;
  transition: color 0.5s ease-in-out;
}

a:active, a:hover {
  color: var(--link-active-color);
}

b {
  color: var(--highlight-color);
}

button {
  width: 100%;
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: none;
}

button:focus-visible {
  outline: 0.2rem solid var(--header-color);
  outline-offset: 0.5rem;
  border-radius: 0.4rem;
}

h1, h2 {
  color: var(--header-color);
  font-size: var(--font-large);
  margin: 2rem 0.5rem;
  text-align: center;
  cursor: pointer;
}

h2 {
  margin: 0.4rem 0 0 0;
}

h3 {
  color: var(--header-color);
  text-align: center;
  margin: 0;
}

ul {
  padding-left: 1.4rem;
}

li {
  margin-top: 1.5rem;
}

/* Nav menu buttons and icons */

.n-save-btn, .n-help-btn, .n-theme-btn {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
}

.n-help-btn:is(:hover, :focus) > *, .n-theme-btn:is(:hover, :focus) > *, .t-revert-btn:is(:hover, :focus) > * {
  opacity: 1;
}

.app-icon {
  width: 1em;
  height: 1em;
  transition: transform 0.33s ease-in-out;
}

.n-save-icon, .n-help-icon, .n-theme-icon-sun, .n-theme-icon-moon {
  width: 2.25rem; 
  height: 2.25rem;
  transition: opacity 0.5s ease-in-out;
}

.n-save-icon {
  color: var(--alt-accent-color);
  opacity: 0.5;
}

.n-help-icon {
  color: var(--header-color);
  opacity: 0.5;
}

.n-theme-icon-sun {
  color: var(--highlight-color);
  opacity: 0.5;
}

.n-theme-icon-moon {
  color: var(--highlight-color);
  opacity: 0.5;
  display: none;
}

/* Tunetable styles */

#tunetable {
  --width-no: 3.125rem;
  --width-name: 18.75rem;
  --width-id: 5rem;
  --width-abc: 8rem;
  --width-url: 4.375rem;
}

table {
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th {
  font-weight: bold;
  font-size: var(--font-large);
  color: var(--accent-color);
  border: 1px dashed var(--alt-border-color);
  padding: 0.5rem;
  background-color: var(--header-cell-color);
  text-align: center;
}

th button {
  opacity: 0.85;
  transition: opacity 0.5s ease-in-out;
}

th button:focus-visible {
  border-radius: 0.07rem;
  outline-color: var(--accent-color);
}

th:hover button{
  opacity: 1;
}

tbody td {
  border: 2px dashed var(--border-color);
  font-size: var(--font-base);
  color: var(--text-color);
  padding: 0.3rem;
}

tbody td:hover {
  /* cursor: ns-resize; */
  cursor: pointer;
}

tbody tr:nth-child(odd) {
  background-color: var(--alt-cell-color);
}

.t-cell-no {
  width: var(--width-no);
}

.t-cell-name {
  max-width: 18.5svw;
}

.t-cell-id {
  width: var(--width-id);
}

.t-cell-abc {
  max-width: var(--width-abc);
}

.t-cell-url {
  max-width: var(--width-url);
}

.t-cell-span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.t-cell-no span {
  text-align: center;
  overflow: visible;
  text-overflow: clip;
}

.t-cell-name span {
  padding-inline: 0.2rem;
}

.t-cell-id span {
  text-align: center;
}

#t-head-name {
  width: var(--width-name);
}

#t-head-id {
  width: var(--width-id);
  min-width: 3.4375rem;
}

#t-head-url {
  width: var(--width-url);
}

#t-head-no {
  width: var(--width-no);
}

.t-head-name-btn {
  text-align: left;
  width: 90%;
}

.t-revert-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
}

.t-revert-icon {
  color: var(--accent-color);
  opacity: 0.5;
  width: 2rem;
  height: 2rem;
  transition: opacity 0.5s ease-in-out;
}

/* Input form styles */

.input-label {
  font-size: var(--font-mid);
  color: var(--text-color);
  margin: 0 1.2rem;
  padding-left: 1rem;
  text-align: center;
}

#input-form {
  height: 4rem;
  border-radius: 0.5rem;
  font-size: var(--font-base);
  margin: 1.5rem 1.2rem;
  border: 0.3125rem solid var(--accent-color);
  background-color: var(--bg-color);
  padding: 0 0.5rem;
  text-align: center;
  color: var(--alt-accent-color);
  caret-color: var(--text-color);
  opacity: 0.75;
  transition: opacity 0.5s ease-in-out, 
  box-shadow 0.5s ease-in-out,
  background-color 0.3s linear;
  box-shadow: 0px 0px 0px 0.1875rem transparent;
}

#input-form::placeholder {
  color: var(--alt-accent-color);
  opacity: 0.5;
}

#input-form:is(:hover, :focus){
  box-shadow: 0px 0px 0px 0.1875rem black;
  opacity: 1;
}

#input-form:focus:not(:focus-visible) {
  outline: none;
}

#input-form:focus-visible {
  outline: 0.16rem solid var(--header-color);
  outline-offset: 0.07rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0px 0.1875rem black;
  opacity: 1;
}

/* Button & radio button styles */

.t-btn {
  display: flex;
  border: none;
  font-size: var(--font-mid);
  padding: 1rem;
  border-radius: 0.5rem;
  line-height: 2rem;
  color: black;
  background: var(--accent-color);
  transition: all 0.33s ease-in-out;
} 

.t-btn:focus-visible {
  outline-offset: 0.05rem;
  border-radius: 0.5rem;
}

input[type="radio"]:focus-visible {
  outline: 0.135rem solid var(--text-color);
  outline-style: solid;
  outline-offset: 0.345rem;
}

input[type="checkbox"]:focus-visible {
  outline: 0.15rem solid var(--text-color);
  outline-style: solid;
  outline-offset: 0.25rem;
}

.radio-btn, .radio-label, .checkbox-label,
.t-checkbox, .checkbox-btn, #t-head-no, #t-head-id:hover {
  cursor: pointer;
}

.t-head-name-btn:hover, #t-head-url, #t-head-url button:hover {
  cursor: ew-resize;
}

.t-btn:disabled:hover, .t-checkbox:disabled:hover {
  cursor: wait;
}

.t-gen-btn, .t-clr-btn, .t-sort-btn, .r-go-sort-btn {
  position: relative;
  width: fit-content;
  height: inherit;
  margin-bottom: 1.5rem;
  flex-grow: 1;
  opacity: 0.95;
  box-shadow: 0px 0px 0px 0.1875rem transparent;
}

.t-btn-text {
  color: black;
  margin-right: 0.5rem;
  position: relative;
  transition: all 0.33s ease-in-out;
}

.t-gen-btn-icon, .t-sort-btn-icon {
  width: 2rem;
  height: 2rem;
}

.t-clr-btn-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.t-input-control-icon {
  position: absolute;
  right: 0;
  margin-right: 1rem;
  width: inherit; 
  height: inherit; 
  fill: black; 
}

.t-clr-btn-icon .t-input-control-icon {
  top: 50%;
  left: 50%;
  margin-top: -0.9rem;
  margin-left: -0.9rem;
}

input[name="sortstyle"], input[name="nothestyle"], input[name="noanstyle"], .t-checkbox {
  margin-top: 0.2rem;
  margin-left: 1rem;
  height: 1rem;
  width: 1rem;
}

.radio-btn {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  border: 0.2rem solid var(--bg-color);
  background-color: var(--bg-color);
  box-shadow: 0 0 0 1px var(--alt-accent-color);
}

input[name="sortstyle"] {
  box-shadow: 0 0 0 1px var(--highlight-color);
}

.radio-btn:checked {

  box-shadow: 0 0 0 1px var(--alt-accent-color);
  background-color: var(--header-color);
  border: 0.2rem solid var(--bg-color);
  border-width: 0.2rem;
}

input[name="sortstyle"]:checked {
  box-shadow: 0 0 0 1px var(--highlight-color);
  background-color: var(--menu-color);
}

.radio-label, .radio-intro, .checkbox-label, .adv-options-btn, .adv-options-wrapper {
  font-weight: bold;
  font-size: var(--font-base);
  color: var(--menu-color);
  margin-bottom: 1.5rem;
}

.sort-style-label {
  color: var(--highlight-color);
}

.r-go-sort-btn {
  justify-content: center;
  width: 100%;
}

.r-go-sort-btn-icon {
  opacity: 0.95;
}

.r-go-sort-icon {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: calc(100% + 0.1rem);
  top: 1%;
  transition: all 0.33s ease-in-out;
}

.adv-options-btn {
  text-align: center;
}

.r-hide-sort-btn {
  border-radius: 0.6rem;
  min-width: 20.625rem;
  flex-grow: 1;
  background-color: var(--alt-border-color);
  opacity: 0.6;
  text-align: center;
  margin: 0.2rem 1.5rem 1.5rem 0;
}

.r-hide-sort-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--alt-accent-color);
  vertical-align: text-top;
}

.checkbox-label {
  text-align: right;
  margin-left: 0.4rem;
}

.checkbox-btn {
  -webkit-appearance: none;
  appearance: none;
  display: inline-flex;
  width: 1.17rem;
  height: 1.17rem;
  border: 0.1rem solid var(--accent-color);
  border-radius: 0.12rem;
  background: var(--bg-color);
  font: inherit;
  color: var(--header-color);
  align-items: center;
  margin-right: 0.13rem;
  margin-left: 0.8rem;
  vertical-align: text-top;
  transform: translateY(-0.1rem);
}

.checkbox-btn::before{
  content:"\2714";
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.checkbox-btn:checked::before{
  opacity: 1;
}

/* Accordion menu styles */

#acc-main-wrapper, .acc-menu-intro, .acc-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-in-out;
}

.acc-menu-intro {
  grid-template-rows: 0.3fr;
}

#acc-main-wrapper:is(:hover, :focus-within) > * {
  opacity: 1;
}

#acc-main-wrapper.unwrapped, .acc-menu-intro.unwrapped, .acc-wrapper.unwrapped {
  grid-template-rows: 1fr;
}

#acc-main-wrapper.unwrapped > * {
  opacity: 1;
}

.acc-help-menu {
  font-size: var(--font-mid);
  color: var(--text-color);
  margin: 1.2rem 1.2rem 0.3rem 1.2rem;
  padding: 0 10% 0.5rem;
  border: 0.3125rem solid var(--header-color);
  border-radius: 0.5rem;
  min-height: 4rem;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.75;
}

.acc-help-menu:is(:focus-visible, :focus-within)[aria-hidden="true"] {
  outline: 0.16rem solid var(--alt-accent-color);
  outline-offset: 0.07rem;
  border-radius: 0.5rem;
}

.acc-help-menu a:focus-visible {
  outline: 0.15rem solid var(--alt-accent-color);
  outline-offset: -0.1rem;
  border-radius: 0.4rem;
}

.acc-item-content {
  min-height: 3rem;
  overflow: hidden;
}

.help-menu-subhead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--header-color);
  font-size: var(--font-subhead);
  font-weight: bold;
  padding-right: 10%;
  line-height: 1.7;
}

.plus-icon {
  transition: transform 1s ease-in-out;
}

#help-menu-opener {
  line-height: 1.15;
}

#help-menu-opener:focus-visible {
  outline: none;
  color: var(--highlight-color);
}

#help-menu-opener:focus-visible[aria-expanded="true"] {
  /* outline: 0.19rem solid var(--alt-accent-color);
  outline-offset: -0.19rem; */
  color: var(--highlight-color);
}

.help-menu-subhead:active, .acc-wrap-btn:is(:hover, :focus) > * {
  color: var(--highlight-color);
}

.help-menu-subhead:active > .plus-icon {
  transform: rotate(180deg);
}

.example-link {
  width: fit-content;
}

.example-link:focus-visible {
  outline: 0.2rem solid var(--alt-accent-color);
  outline-offset: 0.15rem;
}

.help-menu-subhead:focus-visible, .acc-wrap-btn:focus-visible {
  outline: 0.2rem solid var(--alt-accent-color);
  outline-offset: -0.2rem;
}

.acc-wrapper.unwrapped * .plus-icon {
  transform: rotate(225deg);
}

.acc-wrap-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--header-color);
}

.acc-wrap-btn {
  text-align: center;
  margin-top: 0.25rem;
}

/* Info message box styles */

.info-box {
  min-height: 2.315rem;
  font-weight: bold;
  font-size: var(--font-large);
  color: var(--header-color);
  text-align: center;
  margin: 0.12rem 1.2rem 1.7rem 1.2rem;
}

.info-error {
  color: var(--highlight-color);
}

/* Container settings */

.main-container, .t-container, .btn-container,
.radio-wrapper, .checkbox-container, .options-container,
.t-head-name-container, .input-container, .nav-container,
.adv-options-wrapper {
  display: flex;
}

.main-container, .radio-container, .input-container,
.adv-options-wrapper {
  flex-flow: column;
}

.main-container, .t-container {
  justify-content: center;
}

.btn-container, .radio-wrapper, .checkbox-container,
.options-container, .t-head-name-container, .nav-container {
  justify-content: space-between;
}

.main-container {
  max-width: 33.4375rem;
  min-width: 25.2rem;
  margin: 0 auto;
}

.t-container, .btn-container, .sort-menu-container {
  margin: 0 1.2rem;
}

.sort-menu-container {
  display: none;
}

.radio-container {
  display: flex;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.btn-container {
  flex-flow: row wrap;
}

.btn-container {  
  gap: 0 0.5rem;
  margin-top: 0.1rem;
}

.checkbox-container {
  flex: 1;
}

.options-container {
  flex-basis: 100%;
  padding-right: 0.94rem;
}

.adv-options-wrapper {
  align-items: center;
}

.t-head-name-container {
  position: relative;
}

.nav-container {
  flex-direction: row;
  margin: 0.5rem 1.2rem;
  padding: 0 0.2rem;
}

/* Various toggle states */

.hidden {
  display: none;
}

.displayed {
  display: block;
}

.displayed-flex {
  display: flex;
}

.active {
  opacity: 1;
}

.highlighted {
  color: var(--highlight-color);
}

.glowing {
  transition: color 0.5s ease-in-out;
}

.glowing:hover, .glowing:focus-visible {
  color: var(--highlight-color);
}

.hovered {
  box-shadow: 0px 0px 0px 0.1875rem var(--alt-accent-color);
  opacity: 1;
}

.enlarged {
  transform: scale(1.07);
}

@media screen and (max-width: 435px) {

  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {

  .acc-help-menu {
    padding: 0 5%;
  }

  .acc-item-header {
    padding-right: 5%;
  }
}