/* Global parameters */

*, *::before, *::after { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  transition: background-color 0.3s linear;
}

body {

  --bg-color: black;
  --text-color: yellowgreen;
  --header-color: yellowgreen;
  --menu-color: #ffdc18;
  --accent-color: #ffdc18;
  --alt-accent-color: #ffdc18;
  --highlight-color: coral;
  --link-color: #551a8b;
  --link-active-color: coral;
  --border-color: #ffdc1823;
  --alt-border-color: #ffdc1851;
  --header-cell-color: transparent;
  --alt-cell-color: #ffe5531b;

  --font-large: 2rem;
  --font-subhead: 1.65rem;
  --font-mid: 1.4rem;
  --font-base: 1.2rem;

  background-color: var(--bg-color);
  margin: 0 auto;
}

body.light {
  --bg-color: cornsilk;
  --text-color: black;
  --header-color: #551a8b;
  --menu-color: #551a8b;
  --accent-color: #ffdc18;
  --alt-accent-color: black;
  --highlight-color: coral;
  --link-color: #551a8b;
  --link-active-color: coral;
  --border-color: #ffdc18;
  --alt-border-color: #ffdc18;
  --header-cell-color: #551a8b;
  --alt-cell-color: #ffe44bf5;
}

body * {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
  color: var(--link-color);
  text-decoration-line: none;
  transition: color 0.5s ease-in-out;
}

a:active, a:hover {
  color: var(--link-active-color);
}

b {
  color: var(--highlight-color);
}

button {
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: none;
}

button:focus-visible {
  outline: 0.2rem solid var(--header-color);
  outline-offset: 0.5rem;
  border-radius: 0.4rem;
}

h1, h2 {
  color: var(--header-color);
  font-size: var(--font-large);
  margin: 2rem 0.5rem;
  text-align: center;
  cursor: pointer;
}

h2 {
  margin: 0.4rem 0 0 0;
}

h3 {
  color: var(--header-color);
  text-align: center;
}

ul {
  padding-left: 1.4rem;
}

/* Nav menu buttons and icons */

.n-save-btn, .n-help-btn, .n-theme-btn {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
}

.n-save-btn, .n-help-btn, .n-theme-btn, 
.example-tunebook, .example-tunelist, 
.example-setbook, .example-setlist, 
.t-revert-btn, h2, .help-menu-subhead:hover {
  cursor: pointer;
}

.n-help-btn:hover > *, .n-theme-btn:hover > *, .t-revert-btn:hover > * {
  opacity: 1;
}

.app-icon {
  width: 1em;
  height: 1em;
}

.n-save-icon, .n-help-icon, .n-theme-icon-sun, .n-theme-icon-moon {
  width: 2.25rem; 
  height: 2.25rem;
  transition: opacity 0.5s ease-in-out;
}

.n-save-icon {
  color: var(--alt-accent-color);
  opacity: 0.5;
}

.n-help-icon {
  color: var(--header-color);
  opacity: 0.5;
}

.n-theme-icon-sun {
  color: var(--highlight-color);
  opacity: 0.5;
}

.n-theme-icon-moon {
  color: var(--highlight-color);
  opacity: 0.5;
  display: none;
}

/* Tunetable styles */

table {
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th {
  font-weight: bold;
  font-size: var(--font-large);
  color: var(--accent-color);
  border: 1px dashed var(--alt-border-color);
  padding: 0.5rem;
  background-color: var(--header-cell-color);
  text-align: center;
}

th button {
  opacity: 0.85;
  transition: opacity 0.5s ease-in-out;
}

th button:focus-visible {
  border-radius: 0.07rem;
  outline-color: var(--accent-color);
}

th:hover button{
  opacity: 1;
}

tbody td {
  border: 2px dashed var(--border-color);
  font-size: var(--font-base);
  color: var(--text-color);
  padding: 0.3rem;
}

tbody tr:nth-child(odd) {
  background-color: var(--alt-cell-color);
}

tbody td:nth-of-type(odd) span {
  text-align: center;
}

.t-cell {
  display: inline-block;
  width: 100%;
  max-width: 65svw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  /* transition: margin-right 0.5s linear; */
}

tbody td:nth-child(even) .t-cell {
  margin-right: -1200px;
}

tbody td:nth-child(1) .t-cell {
  overflow: visible;
  text-overflow: clip;
}

tbody td:nth-of-type(2) .t-cell {
  padding-inline: 0.2rem;
}

#t-head-name {
  display: block;
  min-width: 10.5rem;
  width: 80%;
}

#t-head-id {
  width: 5rem;
  min-width: 3.4375rem;
}

#t-head-url {
  width: 4.375rem;
}

#t-head-no {
  width: 3.125rem;
}

.t-name-cell {
  position: relative;
  width: 21.5625rem;
  text-align: left;
}

.t-revert-btn {
  display: inline;
  text-align: right;
  position: absolute;
  right: 0.5rem;
  bottom: 0.22rem;
  width: 3rem;
}

.t-revert-icon {
  color: var(--accent-color);
  opacity: 0.5;
  width: 2rem;
  height: 2rem;
  transition: opacity 0.5s ease-in-out;
}

/* Input form styles */

.input-label {
  font-size: var(--font-mid);
  color: var(--text-color);
  margin: 0 1.2rem;
  padding-left: 1rem;
  text-align: center;
}

#input-form {
  height: 4rem;
  border-radius: 0.5rem;
  font-size: var(--font-base);
  margin: 1.5rem 1.2rem;
  border: 0.3125rem solid var(--accent-color);
  background-color: var(--bg-color);
  padding: 0 0.5rem;
  text-align: center;
  color: var(--alt-accent-color);
  caret-color: var(--text-color);
  opacity: 0.75;
  transition: opacity 0.5s ease-in-out, 
  box-shadow 0.5s ease-in-out,
  background-color 0.3s linear;
  box-shadow: 0px 0px 0px 0.1875rem transparent;
}

#input-form::placeholder {
  color: var(--alt-accent-color);
  opacity: 0.5;
}

#input-form:hover{
  box-shadow: 0px 0px 0px 0.1875rem black;
  opacity: 1;
}

#input-form:focus:not(:focus-visible) {
  outline: none;
}

#input-form:focus-visible {
  outline: 0.16rem solid var(--header-color);
  outline-offset: 0.07rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0px 0.1875rem black;
  opacity: 1;
}

/* Button & radio button styles */

.t-btn {
  display: flex;
  border: none;
  font-size: var(--font-mid);
  padding: 1rem;
  border-radius: 0.5rem;
  line-height: 2rem;
  color: black;
  background: var(--accent-color);
} 

.t-btn:focus-visible {
  outline: 0.2rem solid var(--header-color);
  outline-offset: 0.05rem;
  border-radius: 0.5rem;
}

.t-btn, .radio-btn, .radio-label, .checkbox-label, .r-hide-sort-btn, .t-checkbox,
.checkbox-btn, #t-head-no, #t-head-name, #t-head-id, #t-head-url:hover {
  cursor: pointer;
}

.t-btn:hover {
  box-shadow: 0px 0px 0px 0.1875rem var(--alt-accent-color);
  opacity: 1;
}

.t-btn:disabled:hover {
  cursor: wait;
}

.t-gen-btn, .t-clr-btn, .t-sort-btn {
  position: relative;
  width: fit-content;
  height: inherit;
  margin-bottom: 1.5rem;
  flex-grow: 1;
  opacity: 0.95;
  transition: opacity 0.33s ease-in-out, box-shadow 0.33s ease-in-out;
  box-shadow: 0px 0px 0px 0.1875rem transparent;
}

.t-btn-text {
  color: black;
  margin-right: 0.5rem;
}

.t-gen-btn-icon, .t-sort-btn-icon {
  width: 2rem;
  height: 2rem;
}

.t-clr-btn-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.t-input-control-icon {
  position: absolute;
  right: 0;
  margin-right: 1rem;
  width: inherit; 
  height: inherit; 
  fill: black; 
}

.t-clr-btn-icon .t-input-control-icon {
  top: 50%;
  left: 50%;
  margin-top: -0.9rem;
  margin-left: -0.9rem;
}

input[name="sortstyle"], .t-checkbox {
  margin: 0.2rem 1.5rem 1.5rem 0;
  height: 1rem;
  width: 1rem;
}

.radio-btn {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  border: 0.2rem solid var(--bg-color);
  background-color: var(--bg-color);
  box-shadow: 0 0 0 1px var(--alt-accent-color);
}

.radio-btn:checked {

  box-shadow: 0 0 0 1px var(--alt-accent-color);
  background-color: var(--text-color);
  border: 0.2rem solid var(--bg-color);
  border-width: 0.2rem;
}

.radio-label, .checkbox-label, .checkbox-intro {
  font-weight: bold;
  font-size: var(--font-base);
  color: var(--menu-color);
  margin-bottom: 1.5rem;
}

.r-hide-sort-btn {
  border-radius: 0.6rem;
  min-width: 20.625rem;
  flex-grow: 1;
  background-color: var(--alt-border-color);
  opacity: 0.6;
  text-align: center;
  margin: 0.2rem 1.5rem 1.5rem 0;
}

.r-hide-sort-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--alt-accent-color);
  vertical-align: text-top;
}

.checkbox-label {
  margin-left: 0.5rem;
  text-align: right;
}

.t-checkbox {
  display: none;
}

.checkbox-btn {
  display: inline-flex;
  width: 1.17rem;
  height: 1.17rem;
  border: 0.1rem solid var(--accent-color);
  border-radius: 0.12rem;
  background: var(--bg-color);
  color: var(--header-color);
  align-items: center;
  margin: 0 0.5rem;
}

.checkbox-btn::before{
  content:"\2714";
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.t-checkbox:checked + .checkbox-btn::before{
  opacity: 1;
}

/* Accordion menu styles */

#acc-main-wrapper, .acc-menu-intro, .acc-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-in-out;
}

.acc-menu-intro {
  grid-template-rows: 0.3fr;
}

#acc-main-wrapper:hover > * {
  opacity: 1;
}

#acc-main-wrapper.unwrapped, .acc-menu-intro.unwrapped, .acc-wrapper.unwrapped {
  grid-template-rows: 1fr;
}

#acc-main-wrapper.unwrapped > * {
  opacity: 1;
}

.acc-help-menu {
  font-size: var(--font-mid);
  color: var(--text-color);
  margin: 1.2rem 1.2rem 0.3rem 1.2rem;
  padding: 0 10%;
  border: 0.3125rem solid var(--header-color);
  border-radius: 0.5rem;
  min-height: 4rem;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.75;
}

.acc-item-content {
  min-height: 3rem;
  overflow: hidden;
}

.help-menu-subhead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--header-color);
  font-size: var(--font-subhead);
  font-weight: bold;
  padding-right: 10%;
}

.plus-icon {
  transition: transform 1s ease-in-out;
}

.help-menu-subhead:active {
  color: var(--highlight-color);
}

.help-menu-subhead:active > .plus-icon {
  transform: rotate(135deg);
}

.acc-wrapper.unwrapped * .plus-icon {
  transform: rotate(180deg);
}


/* Info message box styles */

.info-box {
  min-height: 2.315rem;
  font-weight: bold;
  font-size: var(--font-large);
  color: var(--header-color);
  text-align: center;
  margin: 0.12rem 1.2rem 1.7rem 1.2rem;
}

.info-error {
  color: var(--highlight-color);
}

/* Container settings */

.main-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 33.4375rem;
  min-width: 25.2rem;
  margin: 0 auto;
}

.t-container, .btn-container, .radio-container {
  display: flex;
  margin: 0 1.2rem;
}

.btn-container, .radio-container {
  flex-flow: row wrap;
  justify-content: space-between;
}

.btn-container {  
  gap: 0 0.5rem;
  margin-top: 0.1rem;
}

.radio-container {
  padding-left: 1rem;
  display: none;
}

.checkbox-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-right: 0.94rem;
}

.t-container {
  justify-content: center;
}

.input-container {
  display: flex;
  flex-flow: column;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 1.2rem;
  padding: 0 0.2rem;
}

/* Various toggle states */

.hidden {
  display: none;
}

.displayed {
  display: block;
}

.displayed-flex {
  display: flex;
}

.active {
  opacity: 1;
}

.highlighted {
  color: var(--highlight-color);
}

.glowing {
  transition: color 0.5s ease-in-out;
}

.glowing:hover, .glowing:focus-visible {
  color: var(--highlight-color);
}

@media screen and (max-width: 435px) {

  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {

  .acc-help-menu {
    padding: 0 5%;
  }

  .acc-item-header {
    padding-right: 5%;
  }
}